body
{
    font: Arial, sans-serif;
}

.buttonArea,
.footerText,
#helloWorldInput,
#helloWorldText
{
    text-align: center;
}

.textbox
{
    border: 1px solid #AAA !important;
    border-radius: 5px !important;
    position:static !important;
    margin-left: 1em !important;
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
    background:white !important;
    color: black !important;
    padding: 7px !important;
}

.btn
{
    border: 1px solid #AAA !important;
    border-radius: 5px !important;
    position:static !important;
    margin-left: 1.1em !important;
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
    background:333333 !important;
    color: black !important;
    padding: 7px !important;
}
